*{
    font-family: "Roboto",sans-serif;
}
.gird__row{
    display: flex;
    flex-wrap: wrap;
    margin-left:-12px ;
    margin-right:-12px ;
}
/*test*/
.grid__column-2{
    float: left;
    padding-left: 12px;
    padding-right:12px;
    width:16.6667%;
}
.grid__column-10{
    float: left;
    padding-left: 12px;;
    padding-right:12px ;
    width: 79.3333%;
    background-color: #F5F5F5;
}
.container{
    background-color:#F5F5F5 ;
}
.category{
    background-color: #fff8ed;
    border-radius: 2px;
}
header{
    height:120px;
    background-color:green;
}
.grid{
    width: 1350px;
    max-width: 100%;
    margin: 0 auto;
/*    kích thước của grid*/
}
.header__nav{
    display: flex;
    /*thuộc tính lên trên cùng 1 hàng */
    justify-content: space-between;
/*    thuộc tính tách ra 2 góc*/
}
.header__nav-list{
    list-style: none;
/*    thuộc tính xóa giấu chấm*/
    margin-top: 8px;
}
.header__nav-item{
    margin: 0 8px;
/*    magin khoảng cacch các câu lệnh*/
    position: relative;
}
.header__nav-item-link{
    color: chartreuse;
    text-decoration: none;
}
.header__nav-item
{
    display: inline-block;
/*    nằm trên cùng 1 hàng*/
    font-size: 1rem;
    /*1 rem =10px*/
    color: white;
    text-decoration: none;
/*    xóa giấu gạch chân*/
    font-weight: 200;
}
.header__nav-item--strong{
   font-weight: 600;
}
.header__nav-item--phanCach::after{
    content:"";
    display: block;
    position: absolute;
    border-right: 1px solid black;
    height: 14px;
    right:-9px;
    top: 50%;
    transform: translateY(-50%);
/*    kích thước chiều cao của dòng*/
}
.input{
    height: 40px;
    width: 500px;
    margin-left: 450px;
    text-align: center;
}
.press{
    height: 40px;
}
.danhmuc_danhmuc{
    font-size: 1.6rem;
    color: black;
    padding: 13px 16px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
/*    dòng kẻ in nhạt*/
}
.danhmuc-link{
    padding:0 0 8px 0;
    list-style: none;
}
.danhmuc-item__link:hover{
color: red;
}
.danhmuc-item__active{

}
.danhmuc-item__link{
text-decoration: none;
    font-size: 1.3rem;
    padding: 8px 16px;
    display: block;
}
.homefinter{
    background-color: rgba(0,0,0,0.04);
    padding: 12px 22px;
    border-radius: 2px;
    align-items: center;
    display: flex;
}
.homefinter-lable{
    font-size: 1.4rem;
    color: #555555;
    margin-right: 16px;
}
.homefinter_btn{
    margin-right: 12px;
    width:100px;
    height: 40px;
}
.grid__column-2-4{
    float: left;
    padding: 5px;
    width: 18.5556%;
    background-color:#ADF45A ;
    border-radius: 2%;
    margin: 5px 5px;
}
img {
    width: 77%;
    text-align: center;
}
.card-body{
    text-align: center;
}
.home_produc-item{
    box-shadow:0 0.1rem 0.2rem 0 rgba(0,0,0,.1);
    transition: transform linear 0.1s;
    will-change: transform;
}
.home_produc-item:hover{
    transform: translateY(-1px);
    box-shadow:0 0.1rem 0.2rem 0 rgba(0,0,0,0.5);
}
.grid__row{
    margin-bottom: 0.5px;
}
.grid__column-2-5-1{
    padding-left: 5px;
    padding-right: 5px;
    width: 18%;
    display: inline-block;
}

.footer-item-link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 0;
    display: block;
}
.footer-item-link:hover{
    color: red;
}
.text{
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
}
body {font-family: Arial, Helvetica, sans-serif;}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    padding-left: 200px;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}